
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            {{#if allproducts.hasError}}

            <div class="no-products-wrapper">

                {{!-- {{#if allproducts.hasError}}
                <span class="no-products-text">
                    No products found
                </span>
                {{/if}} --}}

                <img src="/product_not_found.jpeg" alt="No products" class="no-products-image" />

            </div>
 
            {{else}}
            {{#each allproducts}}
            <div class="col-md-8 col-lg-6 col-xl-4 mb-4 px-3" style="cursor: pointer;" id="product">
                <div class="card text-black" data-id="{{this._id}}">
                    {{#each this.image}}
                    {{#if @first}}
                    <img src="/{{this}}" class="card-img-top">
                    {{/if}}
                    {{/each}}

                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title text-capitalize">{{this.name}}</h5>
                            <p class="text-muted mb-4 text-truncate">{{truncate_Desc this.description 19}}</p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <span>Price</span><span>{{this.price}}</span>
                        </div>

                        <div class="d-flex justify-content-between">
                            <span>Category</span><span>{{this.category}}</span>
                        </div>

                        <div class="d-flex flex-row mt-3">
                            <a href="/details/{{this._id}}" class="btn btn-primary flex-fill me-1">Details</a>
                            <a href="/buy/{{this._id}}" class="btn btn-danger flex-fill ms-1">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}

        </div>
    </div>

</section>
